@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 5px 10px;
  background-image: linear-gradient(
    to bottom right,
    var(--color-fog-50),
    var(--color-fog-200)
  );
  overflow: hidden;
}
